$mat-idigrey: (
    50 : #fafafa,
    100 : #f4f4f4,
    200 : #ececec,
    300 : #e4e4e4,
    400 : #dfdfdf,
    500 : #d9d9d9,
    600 : #d5d5d5,
    700 : #cfcfcf,
    800 : #cacaca,
    900 : #c0c0c0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-idiblue: (
    50 : #e0f5fd,
    100 : #b3e6fa,
    200 : #80d6f7,
    300 : #4dc6f3,
    400 : #26b9f1,
    500 : #00adee,
    600 : #00a6ec,
    700 : #009ce9,
    800 : #0093e7,
    900 : #0083e2,
    A100 : #ffffff,
    A200 : #d6ecff,
    A400 : #a3d4ff,
    A700 : #8ac8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

